Language:                                        Cpp
BasedOnStyle:                                    Microsoft
AccessModifierOffset:                            -4
AlignAfterOpenBracket:                           DontAlign
AlignConsecutiveAssignments:                     false
AlignConsecutiveBitFields:                       false
AlignConsecutiveDeclarations:                    false
AlignConsecutiveMacros:                          true
AlignEscapedNewlines:                            DontAlign
AlignOperands:                                   true
AlignTrailingComments:                           true
AllowAllConstructorInitializersOnNextLine:       false
AllowAllParametersOfDeclarationOnNextLine:       false
AllowShortEnumsOnASingleLine:                    false
AllowShortFunctionsOnASingleLine:                Inline
AllowShortIfStatementsOnASingleLine:             Never
AllowShortLambdasOnASingleLine:                  All
AlwaysBreakAfterReturnType:                      None
AlwaysBreakBeforeMultilineStrings:               false
AlwaysBreakTemplateDeclarations:                 Yes
BinPackArguments:                                false
BinPackParameters:                               false
BreakBeforeBinaryOperators:                      NonAssignment
BreakBeforeBraces:                               Allman
BreakBeforeTernaryOperators:                     true
BreakConstructorInitializers:                    AfterColon
BreakInheritanceList:                            AfterColon
BreakStringLiterals:                             false
ColumnLimit:                                     120
ConstructorInitializerAllOnOneLineOrOnePerLine:  true
ConstructorInitializerIndentWidth:               4
ContinuationIndentWidth:                         4
Cpp11BracedListStyle:                            true
DeriveLineEnding:                                true
DerivePointerAlignment:                          false
DisableFormat:                                   false
FixNamespaceComments:                            false
IndentCaseBlocks:                                true
IndentCaseLabels:                                false
IndentExternBlock:                               NoIndent
IndentGotoLabels:                                true
IndentPPDirectives:                              None
IndentWidth:                                     4
IndentWrappedFunctionNames:                      true
MacroBlockBegin:                                 ''
MacroBlockEnd:                                   ''
MaxEmptyLinesToKeep:                             1
NamespaceIndentation:                            Inner
PointerAlignment:                                Left
ReflowComments:                                  false
SpaceAfterTemplateKeyword:                       true
SpaceBeforeAssignmentOperators:                  true
SpaceBeforeCpp11BracedList:                      false
SpaceBeforeCtorInitializerColon:                 true
SpaceBeforeInheritanceColon:                     true
SpaceBeforeParens:                               ControlStatements
SpaceBeforeRangeBasedForLoopColon:               true
SpacesBeforeTrailingComments:                    1
Standard:                                        Latest
StatementMacros:                                 ['UPROPERTY', 'UFUNCTION', 'UCLASS', 'USTRUCT', 'UENUM', 'UINTERFACE', 'GENERATED_BODY']
TabWidth:                                        4
UseCRLF:                                         true
UseTab:                                          ForContinuationAndIndentation
WhitespaceSensitiveMacros:                       ['ENQUEUE_RENDER_COMMAND']